body{
  background-image: url("11.jpg");
}
h1 {border-style: dotted;font-style: italic;font-size: 70px;text-align:center;
background-color:#FF1493;
}
p {font-style: normal;font-size: 25px;background-color: lightgrey;
}